 body {
     font-family: 'Inter', sans-serif;

     background: linear-gradient(135deg, #a7e0e7 0%, #d4e7ed 100%);

     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .left-section-bg {
     background-image: url("imgs/Brightly Lit Modern Library.png");
     background-size: cover;
     background-position: center;

     background-blend-mode: overlay;
     background-color: rgba(0, 0, 0, 0);
 }